.bar {
    fill: steelblue;
}

.bar:hover {
    fill: rgb(180, 138, 21);
}

/* .axis--x path {
    display: none;
} */

.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    text-align: center;
}
.bar.positive {
    fill: steelblue;
  }
  
  .bar.negative {
    fill: brown;
  }
  
  .axis text {
    font: 10px sans-serif;
  }
  
  /* .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  } */
  
a {
  text-decoration: none;
  letter-spacing: 5px;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  letter-spacing: 5px;
  color: black;
}

.current {
  background-color: #f1f1f1;
  letter-spacing: 5px;
  color: black;
}

.other {
  background-color: #0c04aa;
  letter-spacing: 5px;
  color: white;
}

.round {
  border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
}

body {
  font-family: "Helvetica";
}

path {
    stroke: blue;
    stroke-width: 2px;
    fill: none;
}