head, body {
    font-family: "Helvetica";
  }
  
.link, .link:visited {
    color: black;
    display: inline-block;
    padding: 2px 0;
}

.current {
  background-color: #FF8C00;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
}

.other {
  background-color: darkblue;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
}
