head, body {
    font-family: "Helvetica";
  }

p {
    font-size: 18px;
}
  
.link, .link:visited {
    color: black;
    display: inline-block;
    padding: 2px 0;
}

.current {
  background-color: #FF8C00;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
}

.other {
  background-color: darkblue;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
}

.tooltip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid;
    padding: 8px 8px;
    text-align: center;
    background-color: #FF8C00;
    color: #fff;
    font-weight: bold;
}
